.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.schedules {
  padding: 20px 0;
  margin: 0 auto;
  width: 60%;
}

.schedule {
  border: 3px solid #86F9C5;
  border-radius: 30px;
  margin-bottom: 5px;
}

.schedule>ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.time {
  color: #000000;
}

.timeList {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #FFFFBB;
  /* border: 3px solid #86F9C5; */
  border-radius: 10px;
}

.rule {
  margin-bottom: 0%;
}

.stageSetList {
  margin-top: 0%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.stageList {
  color: #000000;
  padding: 0 1em;
  list-style: none;
}

.stageName {
  color: #000000;
}

.stageImage {
  width: 250px;
  height: 125px;
}

.stageAndBoss {
  display: flex;
  justify-content: center;
}

.stageName,
.bossName {
  margin: 0 1em;
}

.weaponSetList {
  display: flex;
  justify-content: center;
}

.weaponList {
  color: #000000;
  list-style: none;
  /* padding: 0 20px; */
  margin: 0 10px;
}

.weaponName {
  color: cornflowerblue;
  font-size: 12px;
}

.weaponImage {
  width: 80px;
  height: 80px;
  background-color: #FFFFBB;
  border: 3px solid #86F9C5;
  border-radius: 10px;
}

.eventHeader {
  margin-top: 10px;
}

.tab {
  background-color: transparent;
  /* 背景色を透明に設定 */
  border: 3px solid #86F9C5;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}