/* For Index */
.tab {
  background-color: transparent;
  /* 背景色を透明に設定 */
  border: 3px solid #86F9C5;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

/* For Regular, Bankara, X, Event, Fest, SalmonRun */
.noSchMsg {
  color: tomato;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.schedules {
  padding: 20px 0;
  margin: 0 auto;
  width: 60%;
}

.schedule {
  border: 3px solid #86F9C5;
  border-radius: 30px;
  margin-bottom: 5px;
}

.schedule>ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.time {
  color: #000000;
  /* margin-block-start: 0em;
  margin-block-end: 0em; */
  /* margin-inline-start: 0px;
  margin-inline-end: 0px; */
  /* unicode-bidi: isolate; */
}

.rule {
  margin: 0 1em;
  color: orange;
}

.stageSetList {
  margin-top: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.stageList {
  color: #000000;
  margin: 0;
  padding: 0 1em;
  list-style: none;
}

.stageList>p {
  margin: 0;
}

.stageName {
  color: #000000;
  margin: 0 1em;
}

.stageImage {
  width: 250px;
  height: 125px;
}

/* For Bankara, Fest */
.mode {
  margin: 0 1em;
}

.modeAndRule {
  display: flex;
  justify-content: center;
}

/* For Event */

.eventHeader {
  margin-top: 10px;
}

.timeList {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #FFFFBB;
  /* border: 3px solid #86F9C5; */
  border-radius: 10px;
}

/* For SalmonRun */
.stageAndBoss {
  display: flex;
  justify-content: center;
}

.bossName {
  margin: 0 1em;
}

.weaponSetList {
  display: flex;
  justify-content: center;
}

.weaponList {
  color: #000000;
  list-style: none;
  /* padding: 0 20px; */
  margin: 0 10px;
}

.weaponName {
  color: cornflowerblue;
  font-size: 12px;
}

.weaponImage {
  width: 60px;
  height: 60px;
  background-color: #FFFFBB;
  border: 3px solid #86F9C5;
  border-radius: 10px;
}